<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Application</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <div class="edit-container">
        <form class="edit-card" action ="/update/<%= index %>" method ="POST"  >
            <h1>Edit Post</h1>
            <input name="title" type="text" value="<%= post.title %>" required>
            <textarea name="content" required><%= post.content %></textarea>
            <button type="submit">UPDATE</button>
            <a href="/view" class="back-btn">Back</a>
        </form>
    </div>
</body>
</html>